<div id="request_form">

    {{ form_ajax(__SELF__~'::onPost') }}

    <input name="homepage" type="text" style="display: none" value="">

    {% if property.name %}
    <div class="form-group">
        <label for="name">{{ trans('hambern.request::lang.labels.name') }}</label>
        <input type="text" class="form-control" name="name" id="name" placeholder="{{ trans('hambern.request::lang.labels.name') }}">
    </div>
    {% endif %}

    {% if property.phone %}
    <div class="form-group">
        <label for="phone">{{ trans('hambern.request::lang.labels.phone') }}</label>
        <input type="text" class="form-control" name="phone" id="phone" placeholder="{{ trans('hambern.request::lang.labels.phone') }}">
    </div>
    {% endif %}

    <div class="form-group">
        <label for="phone">{{ trans('hambern.request::lang.labels.email') }}</label>
        <input type="email" class="form-control" name="email" id="email" placeholder="{{ trans('hambern.request::lang.labels.email') }}">
    </div>

    {% if property.subject %}
    <div class="form-group">
        <label for="title">{{ trans('hambern.request::lang.labels.subject') }}</label>
        <input type="text" class="form-control" name="subject" id="title" placeholder="{{ trans('hambern.request::lang.labels.subject') }}">
    </div>
    {% endif %}

    <div class="form-group">
        <label for="title">{{ trans('hambern.request::lang.labels.content') }}</label>
        <textarea class="form-control" name="content" id="description" rows="7"></textarea>
    </div>

    <div id="form_message"></div>

    <button class="btn btn-primary form-control" type="submit">{{ trans('hambern.request::lang.labels.send') }}</button>

{{ form_close() }}
</div>
